.recipePage {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  padding-top: 24px;
}

.recipePage__img--wrapper {
  max-width: 300px;
}

.recipePage__img {
  width: 100%;
  border: 2px solid black;
}

.recipePage__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.recipePage__link {
  padding: 16px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipePage__link > div > a {
  text-decoration: underline;
  font-size: 18px;
}

.recipePage__link > a {
  font-size: 18px;
  max-width: 100px;
}

.recipePage__right {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 40px;
}

.recipePage__ingredients {
  width: 100%;
  max-width: 250px;
  vertical-align: top;
}

.recipePage__ingredients--title,
.nutrients__title {
  font-size: 24px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 8px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 8px;
  font-size: 16px;
  gap: 10px;
  height: 550px;
}

.nutrients {
  width: 100%;
  max-width: 280px;
  vertical-align: top;
}

.nutrients__info {
  display: flex;
  gap: 20px;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px solid black;
  text-align: center;
}

.nutrients__allergies {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipePage__skeleton {
  max-width: 300px;
  width: 100%;
  height: 300px;
  background-color: rgb(183, 178, 178);
}

/*

  MEDIA QUERY

*/

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .recipePage {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .recipePage__right {

  }
  .recipePage__img--wrapper {
    max-width: 250px;
  }
  .recipePage__link,
  .recipePage__link > div > a,
  .recipePage__link > a {
    font-size: 14px;
  }

  .recipePage__ingredients--title,
  .nutrients__title {
    font-size: 16px;
  }

  .ingredients,
  .nutrients__info,
  .nutrients__allergies {
    font-size: 12px;
  }

  .ingredients {
    flex-wrap: nowrap;
  }
}
