.results__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.page__buttons {
  display: flex;
  gap: 10px;
}

.page__button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}

.results__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
}

.results__img--wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  animation: scaleUp 0.5s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

.results__img {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.results__text {
  padding-top: 24px;
  font-size: 24px;
  font-weight: bold;
}

/*

  MEDIA QUERY

*/

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .results__img--wrapper {
    max-width: 500px;
    padding-top: 32px;
  }
  .results__img {
    height: auto;
  }
  .results__text {
    font-size: 16px;
  }
  .results__header--title {
    font-size: 16px;
  }
  .page__button {
    font-size: 10px;
    padding: 2px 8px;
  }
  .results__wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }

}
