.input-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}

#searchInput {
  width: 100%;
  max-width: 500px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  padding-left: 24px;
  font-size: 18px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
  font-size: 32px;
  color: black;
  cursor: pointer;
}

