/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}


a {
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.container {
  padding: 36px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

/* SEARCH BAR */

.input-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}

#searchInput {
  width: 100%;
  max-width: 500px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  padding-left: 24px;
  font-size: 18px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
  font-size: 32px;
  color: black;
  cursor: pointer;
}

/*

  MEDIA QUERY

*/

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .container {
    padding: 12px 0;
  }
  .row {
  }
  .input-wrapper {
    max-width: 250px;
  }
  #searchInput {
    height: 30px;
    font-size: 10px;
    padding-left: 16px;
  }
  .search-button {
    font-size: 16px;
    right: 10px;
  }
}
